
    <mat-toolbar-row>
        <div fxLayoutAlign="center center" fxLayoutGap='50px'>
                <a mat-stroked-button [routerLink]="['/sign-in']" routerLinkActive="router-link-active" >Public Log In</a>
                <a mat-stroked-button [routerLink]="['/organisation']" routerLinkActive="router-link-active">Organisation Log In</a>
                <a mat-stroked-button [routerLink]="['/news']" routerLinkActive="router-link-active" >News</a>
                <a mat-stroked-button [routerLink]="['/gallery']" routerLinkActive="router-link-active" >Gallery</a>
        </div>            
    </mat-toolbar-row>
