<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Username</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Username">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/emergency-request">Emergency Request</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Shelter">Emergency Shelter</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/maps">Maps</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/notifications">Notifications</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/helpline">Helpline</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user-profile">User Profile</a>

