<div class='bg'>
    <app-firstheader flexLayout='column'></app-firstheader>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div>
        <div fxLayoutAlign='center center' fxLayoutGap='50px'>
            <img class='image' src="assets/my-images/icons8-floods-50.png" height="120px" width="120px">
        </div>
        
            <mat-card class="mat-elevation-z12">
                <ul fxLayout='column' fxLayoutGap=30px>
                    <mat-card-title style="text-align:center;">SAHAYAAK</mat-card-title>
                    
                    
                <div>
                    <mat-card-title style="text-align:centre;">Flood Emergency and Risk Analysis of Mumbai</mat-card-title>
                </div>
                </ul>
                
            
            </mat-card>
        
        
    </div>  
    <div fxLayout='column' >
        <h2 fxLayoutAlign='center'>Follow us on</h2>
        <div fxLayout='row' fxLayoutAlign='center' >
            <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/color/48/000000/twitter.png"/>
            <img src="https://img.icons8.com/color/48/000000/google-logo.png"/>
            <img src="https://img.icons8.com/color/48/000000/instagram-new.png"/>
        </div>
    
    </div>        
</div>

      
<app-footer flexLayout='column'></app-footer>
     

    

