.bg {
    background-image: url('/assets/my-images/firstpage.jpg');
    height: 100% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image {
    margin-top: 20px;
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
.mat-card {
    opacity: 0.8;
    width:53%;
    height: fit-content;
    margin: 6% auto;
    border-radius: 8px;
    justify-content: space-evenly;
    text-emphasis: black;
    background: unset;
    
}
mat-card-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: bolder;
    grid-auto-rows: auto;
    color: black;
}
ul {
    list-style: none;
}
h2 {
    color: rgb(144, 206, 235);
    text-decoration: underline;
}
