
    <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
    
        <mdb-carousel-item>
            <img class="d-block w-100" src="assets/list/1.jpg" height='600px' width='150px' alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../assets/list/2.jpg" height='600px' width='150px' alt="Second slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../assets/list/3.jpg" height='600px' width='150px' alt="Third slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
              <img class="d-block w-100" src="../assets/list/4.jpg" height='600px' width='150px' alt="Third slide">
        </mdb-carousel-item>
    
    
  </mdb-carousel>

 
