
  
  mat-card {
    width: 40% ;
    margin: 5% auto;
    border-radius: 8px;
  }
  mat-form-field, mat-checkbox {
    width: 80%;
    display: block;
    margin: auto;
  }
  mat-card-content {
    margin-top: 10px;
  }
  
  .login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }
  input[type="button"],
button.btn-success {
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
input[type="button"]:hover,
input[type="button"]:focus,
button.btn-success:hover,
button.btn-success:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="button"]:active,
button.btn-success:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}